@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.image-container {
  position: relative;
  width: 100%;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.788); /* Fondo oscuro con transparencia */
  z-index: 1;
  
}

.blog-image {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: 50vh; /* Ajusta esto al tamaño que quieras */
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
}

.blog-image {
  width: 100%;
  height: 100%;
  display: block;

}

.centered-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px; /* Ajusta esto al tamaño que prefieras */
  z-index: 3;
  font-family: 'PT Serif', serif;
  font-weight: bold;
    /* el resto de tus estilos */
  }

  .text-container {
    font-family: 'Open Sans', sans-serif; /* Cambia la fuente a Open Sans */
    color: #888888; /* Cambia el color a #888888 */
    text-align: center; /* Centra el texto */
    padding: 50px 20px; /* Aumenta el padding vertical a 50px y mantiene el padding horizontal en 20px */
    font-weight: lighter;
    font-size: 1.2em; /* Ajusta el tamaño de la fuente a 1.2em */
    width: 50%;
    margin-left: auto;
    margin-right: auto;

  }


  .cuerpo-blog{
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-size: 35%;
    height: auto;
    width: 100%;
    
  }

  .flecha{
    width: 5%;
    height: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
  }

  .tablita{
  width: 50%;
  margin: auto;
  border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }

  .tc{
    width: 55%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: black;
}
h1 {
    text-align: center;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.tip {
    margin-bottom: 20px;
    text-align: justify;
   border-top: 0.5px solid #5b6f70 ;
   
   
}
.tip h3 {
    margin: 0 0 10px;
}

.tip p {
  font-weight: lighter;
  font-size: 1.2em; /* Ajusta el tamaño de la fuente a 1.2em */
  font-family: 'Open Sans', sans-serif; /* Cambia la fuente a Open Sans */
}
